@inherits DemoModuleWebPage
@using Demo.DnnConnect.DemoModule.Common
@{
  DemoModuleModuleContext.AddModuleScript();
}

<h1>Hello DemoModule Module</h1>

@foreach (var c in Demo.DnnConnect.Core.Repositories.CompanyRepository.Instance.GetCompanies(Dnn.PortalSettings.PortalId))
{
 <p>@c.CompanyName</p>
}
