@inherits DemoModuleWebPage
@using Demo.DnnConnect.DemoModule.Common
@{
  DemoModuleModuleContext.AddModuleScript();
}

<h1>Hello DemoModule Module</h1>

@foreach (var p in Demo.DnnConnect.Core.Data.Sprocs.GetProductsByPortal(Dnn.PortalSettings.PortalId))
{
 <span>@p.ModelName</span> <span>@p.SerialNr</span> <a href="@Url.Action("Index", "Companies", new { CompanyId = p.CompanyId })">@p.CompanyName</a><br/>
}
